@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Marcellus&display=swap');

@font-face {
    font-family: Gfs_Didot;
    src: url(../assets/fonts/GFS_Didot/GFSDidot-Regular.ttf);
}

@font-face {
    font-family: Marcellus;
    src: url(../assets/fonts/Marcellus/Marcellus-Regular.ttf);
}

/* variaveis */
:root {
    --cor-cinza: #bfbfbf;
    --cor-branco: #FFFFFF;
    --cor-cinza-claro: #E6EDF3;
    --cor-azul-claro: #81bdfd;
    --cor-azul-royal: #007bff;
    --cor-azul-cinza: #456275;
    --cor-azul-escuro: #0D1B2A;
    --cor-preta: #121212;

    --borda: 1px solid var(--cor-cinza);
    --borda-arredondada: 2px;

    --tamanho-fonte-lg: 20px;
    --tamanho-fonte-md: 16px;
    --tamanho-fonte-sm: 14px;
}

/* SELETOR GLOBAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gfs_Didot", serif ;
    font-family: "Marcellus", serif;
    outline-color: var(--cor-azul-royal);

}

body{
    background-color: var(--cor-preta);
}

h1{
    position: absolute;
    z-index: -1;
    opacity: 0;
}


.formulario-botao-azul{
    background-color: var(--cor-azul-royal);
    border-radius: var(--borda-arredondada);
    border: none;
    height: 35px;

    color: var(--cor-preta);
    font-size: var(--tamanho-fonte-sm);
}

#formulario-campos>input{
    border: var(--borda);
    height: 35px;
    
    color: var(--cor-preta);
    font-size: var(--tamanho-fonte-sm);
    border-radius: var(--borda-arredondada);
}

#formulario-campos>label{
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-cinza-claro);
    font-weight: 600;
}

.estilo-formulario {
    width: 100%;
    background-color: var(--cor-preta);
    border: var(--borda);
}

#secao-upload{
    display: none;
}

#upload{
    display: inline-block;
    width: 100%;
    max-width: 300px;
    min-height: 35px;
    padding: 10px;
    background-color: var(--cor-cinza);
    font-size: var(--tamanho-fonte-sm);
    text-align: center;
    color: var(--cor-branco);
}


#cabecalho{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    border: var(--borda);
}

#cabecalho>nav{
    width: 85%;
    max-width: 900px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-mobile{
    display: none;
}

.cabecalho-acoes{
    display: flex;
    align-items: center;
    gap: 15px;
}

.cabecalho-acoes>a{
    display: flex;
    align-items: center;
}

.foto-de-perfil{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}



@media only screen and (max-width: 500px){
    #logo-mobile{
        display: initial;
    }
    #logo-desktop{
        display: none;
    }
}


