main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main>div {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 3%;

}


.estilo-formulario {
    max-width: 342px;
}

#formulario-campos {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.formulario-botao-azul {
    width: 100%;
}

form>p {
    text-transform: uppercase;
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-cinza-claro);

}

form>a {
    color: var(--cor-cinza-claro);
    font-size: var(--tamanho-fonte-sm);
    text-decoration: none;
}

form>a, #secao-cadastro>p>a {
    font-size: var(--tamanho-fonte-sm);
    text-decoration: none;
}


#secao-cadastro {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}


#secao-cadastro>p {
    color: var(--cor-cinza-claro);
    font-size: var(--tamanho-fonte-sm);
}

#secao-instalacao {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

div>p{
    color: var(--cor-cinza-claro);
}
