main {
    width: 100%;
    min-height: 100vh;
    display: block;
}




.perfil-cabecalho {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 50px;
    border-bottom: var(--borda);
}

.perfil-cabecalho>div {
    margin-left: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* permite quebrar linha no celular */
    gap: 20px;
    justify-content: center;
    /* centraliza no mobile */
}


#foto-perfil {
    width: 120px;
    height: 120px;
    margin-right: 20px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}


.informacoes-perfil {
    font-size: var(--tamanho-fonte-md);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.informacoes-perfil>h2 {
    color: var(--cor-cinza-claro);
    margin: 0;
    font-size: var(--tamanho-fonte-lg);
}

#publicacao-numeros {
    color: var(--cor-cinza-claro);
    margin: 6px 0;
    white-space: pre-wrap;
}

#publicacao-informacoes {
    color: var(--cor-cinza-claro);
    font-weight: bold;
}

#publicacao-informacoes>a {
    margin-left: 60px;
    color: var(--cor-azul-claro);
    text-decoration: none;
}

h3 {
    color: var(--cor-cinza-claro);
}




.posts {
    margin: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cabecalho-post {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.post {
    border: var(--borda);
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 750px;
    /* no PC fica até 750px */
}


.post-cabecalho {
    display: flex;
    align-items: center;
    gap: 10px;

}

.post-cabecalho>p {
    color: var(--cor-cinza-claro);
}

.post>p {
    margin: 15px 0;
    color: var(--cor-cinza-claro);
}



.post-rodape {
    display: flex;
    width: 100px;
    flex-wrap: wrap;
    gap: 10px;
    order: 1;
}

.post-rodape>span {
    color: var(--cor-cinza-claro);
}

.post-rodape>button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#botao-comentario {
    background-color: transparent;
    border: none;


    color: var(--cor-cinza);
    font-size: var(--tamanho-fonte-sm);
    order: 3;

    margin-top: 10px;
}

@media only screen and (max-width: 320px) {
    #foto-perfil {
        width: 100px;
        height: 100px;
        margin-right: 0px;
    }

    .informacoes-perfil {
        text-align: center;
    }

    .perfil-cabecalho {
        padding: 0px;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    #publicacao-informacoes {
        margin-bottom: 20px;
    }

    #publicacao-informacoes>a {
        margin-left: 10px;
    }

    #publicacao-numeros {
        padding: 0px 100px;
    }

    #cabecalho-post{
        margin-bottom: 30px;
    }

    .posts{
        margin: 30px 0px;

    }

    .post {
        border: none;
        border-top: var(--borda);
        border-bottom: var(--borda);
    }

}