@{
    ViewData["Title"] = "Logo DevConnect";
}
<link rel="stylesheet" href="~/css/Perfil.css">


<h1>Tela Perfil - DevConnect</h1>
    <header id="cabecalho">
        <nav>
            <a asp-controller="Perfil" asp-action="Index">
                <img id="logo-desktop" src="~/images/logo-devconnect-md_light.svg" alt="Logo do DevConnect">
            </a>

            <a asp-controller="PErfil" asp-action="Index">
                <img id="logo-mobile" src="~/images/logo-devconnect-sm_light.svg" alt="Logo do DevConnect">
            </a>

            <div class="cabecalho-acoes">
                <a asp-controller="Perfil" asp-action="Index">
                    <img src="~/images/icone-casa-azul.svg" alt="">
                </a>
                <a href="#">
                    <img src="~/images/icone-coracao-azul.svg" alt="">
                </a>
                <a href="#">
                    <img class="foto-de-perfil" src="~/images/transferir.jpg" alt="">
                </a>
            </div>
        </nav>

    </header>

    <main>
        <section class="perfil-cabecalho">
            <div id="estilo-foto">
                <img id="foto-perfil" src="~/images/transferir.jpg" alt="">
            </div>
            <div>
                
                <div class="informacoes-perfil">
                    <h2>YuriAlberto_ofc</h2>

                        <p id="publicacao-numeros">3 publicações       160 seguindo       904 seguidores</p>
                        
                        <p id="publicacao-informacoes">Yuri Alberto
                            <a href="#">Editar Perfil</a>
                            <a asp-controller="Home" asp-action="Index">Sair</a>
                        </p>
                </div>
            </div>
        </section>

        <section class="posts">
            <div id="cabecalho-post">
                <img src="~/images/icone-galeria-branco.svg" alt="">
                <h3>Publicações</h3>
            </div>
            
            <div class="post">
                <div class="post-cabecalho">
                    <img class="foto-de-perfil" src="~/images/transferir.jpg" alt="">
                    <p>YuriAlberto_ofc</p>

                </div>

                <p>Falaram que clássico é guerra, que iam vir pra cima, que o momento era deles... No final, a gente só
                    fez o que sempre faz: jogou bola, respeitou a camisa e saiu com os três pontos. Quem tem história,
                    mostra em campo. O resto é barulho. ⚪️⚫ #ClássicoÉNosso #SegueOTrabalho #VaiCorinthians
                </p>

                <div class="post-rodape">
                    <button>
                        <img src="~/images/icone-coracao-branco.svg" alt="">
                    </button>

                    <button>

                        <img src="~/images/icone-comentario-branco.svg" alt="">
                    </button>
                    <span>200 curtidas</span>

                </div>

                <button id="botao-comentario" type="button">Ver todos os comentários...</button>


        </div>
        </section>
        <section class="posts">

            <div class="post">
                <div class="post-cabecalho">
                    <img class="foto-de-perfil" src="~/images/transferir.jpg" alt="">
                    <p>YuriAlberto_ofc</p>

                </div>

                <p>Falaram que clássico é guerra, que iam vir pra cima, que o momento era deles... No final, a gente só
                    fez o que sempre faz: jogou bola, respeitou a camisa e saiu com os três pontos. Quem tem história,
                    mostra em campo. O resto é barulho. ⚪️⚫ #ClássicoÉNosso #SegueOTrabalho #VaiCorinthians
                </p>

                <div class="post-rodape">
                    <button>
                        <img src="~/images/icone-coracao-branco.svg" alt="">
                    </button>

                    <button>

                        <img src="~/images/icone-comentario-branco.svg" alt="">
                    </button>
                    <span>200 curtidas</span>

                </div>

                <button id="botao-comentario" type="button">Ver todos os comentários...</button>


        </div>
        </section>
        <section class="posts">
           
            <div class="post">
                <div class="post-cabecalho">
                    <img class="foto-de-perfil" src="~/images/transferir.jpg" alt="">
                    <p>YuriAlberto_ofc</p>

                </div>

                <p>Falaram que clássico é guerra, que iam vir pra cima, que o momento era deles... No final, a gente só
                    fez o que sempre faz: jogou bola, respeitou a camisa e saiu com os três pontos. Quem tem história,
                    mostra em campo. O resto é barulho. ⚪️⚫ #ClássicoÉNosso #SegueOTrabalho #VaiCorinthians
                </p>

                <div class="post-rodape">
                    <button>
                        <img src="~/images/icone-coracao-branco.svg" alt="">
                    </button>

                    <button>

                        <img src="~/images/icone-comentario-branco.svg" alt="">
                    </button>
                    <span>200 curtidas</span>

                </div>

                <button id="botao-comentario" type="button">Ver todos os comentários...</button>


        </div>
        </section>

    </main>